<div class="container centered">
  <div class="logo">
    <img src="assets/logo_dark.svg"/>

    <div ng-show="showCreateUserFields">
      <form name="createNewUser">
	<input type="email" class="form-control small-top-bump small-bottom-bump" ng-model="newUser.email" placeholder="Enter Email Address" required>
	<input type="password" class="form-control" ng-model="newUser.password" placeholder="Enter Password" required>
	<button class="btn btn-success login-btn small-top-bump small-bottom-bump" ng-click="createUser()" ng-disabled="createNewUser.$invalid">Create Account</button>
	<div class="login-link">
	  <a ng-click="showLogin()">Log In</a>
	</div>
      </form>
    </div>      

    <div ng-show="showLoginFields">
      <form name="loginForm">
	<input type="email" class="form-control small-top-bump small-bottom-bump" ng-model="login.email" placeholder="User Email" required autofocus>
	<input type="password" class="form-control" ng-model="login.password" placeholder="User Password" required>
	<button class="btn btn-primary login-btn small-top-bump small-bottom-bump" ng-click="login()" ng-disabled="loginForm.$invalid">Log In</button>
	<div class="login-link">
	  <a ng-click="showLogin()">Create User</a>
	</div>
      </form>
    </div>
  </div>
</div>

<div class="overlay" ng-show="showOverlay" ng-click="cancel()">
  <div class="row">
    <div class="logOut-popup centered">
      <div class="col-md-3">
	<div class="panel panel-info">
	  <div class="panel-heading centered"><h4>You may now log in with {{newUser.email}}</h4></div>	 
	  <div class="panel-footer">	    
	    <div class="centered">
	      <div class="btn btn-info popup-btn">Ok</div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
