<header class="project-header">
  <img class="pull-right hover" ng-click="exit()" src="assets/logo_dark.svg">
</header>
<div class="container centered top" ng-show="centerLogContainer">
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
	<div><h2 class="title-text small-bottom-bump">Track Your Time</h2></div>
	<form name="clientForm">
	  <div class="row">
	    <div class="col-md-6">
	      <label for="newClient">Client<span class="red"> *</span></label>
	      <div class="input-group">
		<div class="input-group-btn">		 
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Clients <span class="caret"></span></button>
		  <ul class="dropdown-menu" role="menu">
		    <li ng-repeat="client in clients"><a class="hover" ng-click="sendClient(client)">{{client}}</a></li>
		  </ul>
		</div>
		<input id="newClient" class="form-control small-bottom-bump" placeholder="Client" ng-model="newEvent.project" required autofocus>
	      </div>
	    </div>
	    <div class="col-md-6">
	      <label for="clientProject">Project<span class="red"> *</span></label>
	      <div class="input-group">
		<input id="clientProject" class="form-control small-bottom-bump" placeholder="Project" ng-model="newEvent.subProject" required>
		<div class="input-group-btn">
		  <button type="button" class="btn btn-default dropdown-fix dropdown-toggle" data-toggle="dropdown">Projects <span class="caret"></span></button>
		  <ul class="dropdown-menu dropdown-menu-right" role="menu">
		    <li ng-repeat="project in projects"><a class="hover" ng-click="sendProject(project)">{{project}}</a></li>
		  </ul>
		</div>
	      </div>
	    </div>
	    <div class="col-md-12">
	      <label for="eventDesc" class="small-top-bump">Task Description<span class="red"> *</span></label>
	      <textarea id="eventDesc" class="form-control small-bottom-bump" placeholder="Task description" ng-model="newEvent.description"></textarea>
	    </div>
	    <div class="col-md-6">
	      <label for="startDay">Start Day<span class="red"> *</span></label>
	      <input id="startDay" type="text" class="form-control small-bottom-bump" placeholder="mm/dd/yy" ng-model="newEvent.startDate" required>
	      <label for="startTime">Start Time<span class="red"> *</span></label>
	      <div class="row">
		<div class="col-md-6">
		  <select id="startTime" class="form-control small-bottom-bump" ng-model="newEvent.startTime" required>		
		    <option value="" selected>Select Time</option>
		    <option ng-repeat="time in times" value="{{time}}">{{time}}</option>
		  </select>
		</div>
		<div class="col-md-6">
		  <select id="newStartMeridian" class="form-control small-bottom-bump" ng-model="newEvent.startMeridian" required>
		    <option value="" selected>AM / PM</option>
		    <option value="am">AM</option>
		    <option value="pm">PM</option>
		  </select>
		</div>
	      </div>
	    </div>
	    
	    <div class="col-md-6">
	      <label for="endDay">Ending Day<span class="red"> *</span></label>
	      <input id="endDay" type="text" class="form-control small-bottom-bump" placeholder="mm/dd/yy" ng-model="newEvent.endDate" required>
	      <label for="endTime">Ending Time<span class="red"> *</span></label>
	      <div class="row">
		<div class="col-md-6">
		  <select id="endTime" class="form-control small-bottom-bump" ng-model="newEvent.endTime" required>
		    <option value="" selected>Select Time</option>
		    <option ng-repeat="time in times" value{{time}}>{{time}}</option>
		  </select>
		</div>
		<div class="col-md-6">
		  <select class="form-control small-bottom-bump" ng-model="newEvent.endMeridian" required>
		    <option value="">AM / PM</option>
		    <option value="am">AM</option>
		    <option value="pm">PM</option>
		  </select>
		</div>
	      </div>
	    </div>
	    <div class="col-md-12">
	      <div class="col-md-4 left-text">
		
	      </div>
	      <div class="col-md-4 center-text">
		<button class="btn btn-info" ng-click="submitNewEvent()">Submit New Event</button>
	      </div>
	      <div class="col-md-4 right-text">
		<button class="btn btn-info" ng-click="displayLogs()">All Logs</button>
	      </div>
	    </div>
	  </div>
	</form>
      </div>
    </div>
  </div>
</div>  


<div class="container">
  <div class="row">
    <!-- <div class="col-md-6">       -->
    <!-- 	<div class="panel panel-info" ng-show="showCrudFields"> -->
    <!-- 	  <div class="panel-heading"> -->
    <!-- 	    <h3>Company: {{crudHeader}}</h3> -->
    <!-- 	    <h4>Hourly Rate: {{user.hourlyRate | currency}}</h4> -->
    <!-- 	</div> -->
    <!-- 	<div class="panel-body"> -->
    <!-- 	  <label for="projectFilter">Filter Projects By:</label> -->
    <!-- 	  <select id="projectFilter" class="form-control small-bottom-bump" ng-model="newEvent.project"> -->
    <!-- 	      <option value="" selected>Create New Project</option> -->
    <!-- 	      <option ng-repeat="project in projects" value="{{project}}">{{project}}</option> -->
    <!-- 	  </select> -->
    <!-- 	  <div> -->
    <!-- 	    <button class="btn btn-info small-bottom-bump" ng-click="displayLog()">Create Project | Log Time</button> -->
    <!-- 	    <button class="btn btn-info small-bottom-bump" ng-click="displayInvoice()">Create Invoice</button> -->
    <!-- 	  </div> -->
    <!-- 	  <div> -->
    <!-- 	    <button class="btn btn-success small-bottom-bump" ng-click="displayChangeCompany()">Change Company</button> -->
    <!-- 	    <button class="btn btn-success small-bottom-bump" ng-click="displayChangeHourly()">Change Hourly Rate</button> -->
    <!-- 	  </div> -->
    <!-- 	  <div ng-show="showChangeCompany"> -->
    <!-- 	    <form name="changeCompany"> -->
    <!-- 	      <input class="form-control small-bottom-bump" placeholder="New Company Name" ng-model="user.companyName" required autofocus> -->
    <!-- 	      <div class="row"> -->
    <!-- 		<div class="col-md-6"> -->
    <!-- 		  <button class="btn btn-info centered small-top-bump" ng-click="updateCompany()" ng-disabled="changeCompany.$invalid">Submit</button> -->
    <!-- 		</div> -->
    <!-- 		<div class="col-md-6"> -->
    <!-- 		  <button class="btn btn-cancel centered small-top-bump" ng-click="displayChangeCompany()">Cancel</button> -->
    <!-- 		</div> -->
    <!-- 	      </div> -->
    <!-- 	    </form> -->
    <!-- 	  </div> -->
    <!-- 	  <div ng-show="showChangeHourly"> -->
    <!-- 	    <form name="changeHourly"> -->
    <!-- 	      <input type="number" class="form-control small-bottom-bump" placeholder="New Hourly Rate" ng-model="user.hourlyRate" required autofocus> -->
    <!-- 	      <div class="row"> -->
    <!-- 		<div class="col-md-6"> -->
    <!-- 		  <button class="btn btn-info centered small-top-bump" ng-click="updateHourly()" ng-disabled="changeHourly.$invalid">Submit</button> -->
    <!-- 		</div> -->
    <!-- 		<div class="col-md-6"> -->
    <!-- 		  <button class="btn btn-cancel centered small-top-bump" ng-click="displayChangeHourly()">Cancel</button> -->
    <!-- 		</div> -->
    <!-- 	      </div> -->
    <!-- 	    </form> -->
    <!-- 	  </div> -->
    <!-- 	  <form name="newEventLog" ng-show="showLogFields" novalidate>	     -->
    <!-- 	    <\!-- Project Title Fields -\-> -->
    <!-- 	    <div class="form-group flex"> -->
    <!-- 	      <input type="text" class="form-control small-bump" placeholder="Create New Project" ng-model="newEvent.newProject" ng-hide="newEvent.project" autofocus>	       -->
    <!-- 	      <input type="text" class="form-control small-bump" placeholder="Subproject" ng-model="newEvent.subProject" ng-hide="newEvent.project"> -->
    <!-- 	    </div> -->
    
    <!-- 	    <input type="text" class="form-control small-bottom-bump" placeholder="Description" ng-model="newEvent.description" required> -->
    
    <!-- 	    <\!-- Date Time Fields -\-> -->
    <!-- 	    <div class="form-group"> -->
    <!-- 	      <div class="col-md-6"> -->
    <!-- 		<div> -->
    <!-- 		  <label for="startDate">Start Date</label> -->
    <!-- 		  <input id="startDate" type="text" class="form-control" placeholder="mm/dd/yyyy" ng-model="newEvent.startDate" required> -->
    <!-- 		  <label for="startTime">Start Time</label> -->
    <!-- 		  <input id="startTime" type="text" class="form-control" placeholder="hh:mm AM/PM" ng-model="newEvent.startTime" required> -->
    <!-- 		</div> -->
    <!-- 	      </div>	      -->
    
    <!-- 	      <div class="col-md-6"> -->
    <!-- 		<div> -->
    <!-- 		  <label for="endDate">End Date</label> -->
    <!-- 		  <input id="endDate" type="text" class="form-control" placeholder="mm/dd/yyyy" ng-model="newEvent.endDate" required> -->
    <!-- 		  <label for="endTime">End Time</label> -->
    <!-- 		  <input id="endTime" type="text" class="form-control" placeholder="hh:mm AM/PM" ng-model="newEvent.endTime" required> -->
    <!-- 		</div> -->
    <!-- 	      </div> -->
    <!-- 	    </div> -->
    
    <!-- 	    <div class="row"> -->
    <!-- 	      <div class="col-md-6"> -->
    <!-- 		<button class="btn btn-info centered small-top-bump" ng-click="submitNewEvent()" ng-disabled="!newEvent.project && !newEvent.newProject || newEventLog.$invalid">Submit</button> -->
    <!-- 	      </div> -->
    <!-- 	      <div class="col-md-6"> -->
    <!-- 		<button class="btn btn-cancel centered small-top-bump" ng-click="displayLog()">Cancel</button> -->
    <!-- 	      </div> -->
    <!-- 	    </div> -->
    <!-- 	    <hr> -->
    <!-- 	  </form> -->
    <!-- 	  <form name="makeInvoiceForm" ng-show="showInvoiceFields" novalidate> -->
    <!-- 	    <div class="row"> -->
    <!-- 	      <div class="col-md-6"> -->
    <!-- 		<label for="invoiceProject">Invoice Project:</label> -->
    <!-- 		<select id="invoiceProject" class="form-control small-bottom-bump" ng-model="newInvoice.project" required> -->
    <!-- 		  <option value="" selected>All Projects</option> -->
    <!-- 		  <option ng-repeat="project in projects" value="{{project}}">{{project}}</option> -->
    <!-- 		</select> -->
    <!-- 	      </div> -->
    <!-- 	    </div> -->
    <!-- 	    <div class="flex"> -->
    <!-- 	      <div class="button-bump">		 -->
    <!-- 		<label for="invoiceStartDate">Start Date</label> -->
    <!-- 		<input id="invoiceStartDate" type="date" class="form-control" placeholder="mm/dd/yyyy" ng-model="newInvoice.startDate" required> -->
    <!-- 	      </div> -->
    <!-- 	      <div class="button-bump"> -->
    <!-- 		<label for="invoiceEndDate">End Date</label> -->
    <!-- 		<input id="invoiceEndDate" type="date" class="form-control" placeholder="mm/dd/yyyy" ng-model="newInvoice.endDate" required> -->
    <!-- 	      </div> -->
    <!-- 	    </div> -->
    <!-- 	    <div class="row"> -->
    <!-- 	      <div class="col-md-6"> -->
    <!-- 		<button class="btn btn-info centered small-top-bump" ng-click="submitNewInvoice()" ng-disabled="makeInvoiceForm.$invalid">Create New Invoice</button> -->
    <!-- 	      </div> -->
    <!-- 	      <div class="col-md-6"> -->
    <!-- 		<button class="btn btn-cancel centered small-top-bump" ng-click="displayInvoice()">Cancel</button> -->
    <!-- 	      </div> -->
    <!-- 	    </div> -->
    <!-- 	  </form> -->
    <!-- 	</div> -->
    <!--   </div> -->
    <!-- </div> -->
    
    
    <div class="col-md-12">
      <div class="panel panel-info" ng-show="showCrudFields">
	<div class="panel-heading">
	  <h3>Currently Logged Events</h3>
	  <div class="row">
	    <div class="col-md-12">
	      <div class="col-md-4 pull-left">
		<input class="form-control small-bottom-bump" ng-model="filterClients" placeholder="Search">
	      </div>
	      <button class="btn btn-info small-bottom-bump" ng-click="displayLogs()">Back to Tracking</button>
	      <button class="btn btn-info small-side-bump small-bottom-bump" ng-click="displayCreateInvoice()">Create Invoice</button>
	    </div>
	  </div>
	</div>
	<div class="panel-body">
	  <!-- Standard Event View -->
	  <div ng-repeat="event in events | filter: filterClients | orderBy:['date']:true" class="event-list">
	    <div ng-hide="event.isUpdating">
	      <h3 class="hover" ng-click="updateEvent(event)">{{event.summary}}</h3>
	      <p class="hover" ng-click="updateEvent(event)"><em>{{event.date | date:'mediumDate'}} from {{event.start.dateTime | date:'shortTime'}} to {{event.end.dateTime | date:'shortTime'}}</em></p>
	      <p ng-class="{red: event.duration > 12}">{{event.duration}} hour(s)</p>
	      <div class="delete right"><a title="Delete this event" class="hover" ng-click="deleteCheck(event.id)">&times;</a></div>
	      <hr>
	    </div>
	    
	    <!-- Update Event View -->
	    <div ng-show="event.isUpdating">
	      <form name="updateForm">
		<label for="updateTitle">{{event.summary}}</label>
		<input name="updateTitle" type="text" class="form-control" ng-model="event.update.summary" ng-init="event.update.summary = event.summary" autofocus>
		
		<div class="form-group">
		  <div class="small-top-bump col-md-6">
		    <label for="startDay">Current Start: <span class="timeStamp">{{event.start.dateTime | date:'medium'}}</span></label>		    
		    <input id="startDay" type="text" class="form-control small-bottom-bump" placeholder="mm/dd/yy" ng-model="event.update.startDay">
		    <label for="startTime">Start Time (required if editing day)</label>
		    <div class="row">
		      <div class="col-md-6">
			<select id="startTime" class="form-control small-bottom-bump" ng-model="event.update.startTime" ng-disabled="!event.update.startDay" required>		
			  <option value="" selected>Select Time</option>
			  <option ng-repeat="time in times" value="{{time}}">{{time}}</option>
			</select>
		      </div>
		      <div class="col-md-6">
			<select class="form-control small-bottom-bump" ng-model="event.update.startMeridian" ng-disabled="!event.update.startTime" required>
			  <option value="" selected>AM / PM</option>
			  <option value="am">AM</option>
			  <option value="pm">PM</option>
			</select>
		      </div>
		    </div>
		  </div>

		  
		  <div class="small-top-bump col-md-6">
		    <label for="endDay">Current End: <span class="timeStamp">{{event.end.dateTime | date:'medium'}}</span></label>
		    <input id="endDay" type="text" class="form-control small-bottom-bump" placeholder="mm/dd/yy" ng-model="event.update.endDay">
		    <label for="endTime">End Time (required if editing day)</label>
		    <div class="row">
		      <div class="col-md-6">
			<select id="endTime" class="form-control small-bottom-bump" ng-model="event.update.endTime" ng-disabled="!event.update.startDay" required>
			  <option value="" selected>Select Time</option>
			  <option ng-repeat="time in times" value="{{time}}">{{time}}</option>
			</select>
		      </div>
		      <div class="col-md-6">
			<select class="form-control small-bottom-bump" ng-model="event.update.endMeridian" ng-disabled="!event.update.endTime" required>
			  <option value="" selected>AM / PM</option>
			  <option value="am">AM</option>
			  <option value="pm">PM</option>
			</select>
		      </div>
		    </div>
		  </div>
		  <!-- form group -->
		</div>
		<div class="row">
		  <div class="col-md-6">
		    <button class="btn btn-info centered small-top-bump" ng-click="submitUpdate(event)" ng-disabled="(event.update.startDay || event.update.endDay) && updateForm.$invalid">Save</button>
		  </div>
		  <div class="col-md-6">
		    <button class="btn btn-cancel centered small-top-bump" ng-click="updateEvent(event)">Cancel</button>
		  </div>
		</div>
		<hr>
	      </form>
	    </div>	    
	  </div>	
	</div>
      </div>
    </div>
  </div>
</div>
  
<div class="overlay" ng-show="showOverlay">

    <div class="logOut-popup" ng-show="logOutPop">
      <div class="col-md-3">
	<div class="panel panel-info">
	  <div class="panel-heading centered"><h3>Log out?</h3></div>
	  <div class="panel-body">
	    <div class="row">
	      <div class="col-md-6">
		<button class="btn btn-danger popup-btn" ng-click="logOut()">Yes</button>
	      </div>
	      <div class="col-md-6">
		<button class="btn btn-cancel popup-btn" ng-click="cancel()">Cancel</button>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>    
    <div class="logOut-popup" ng-show="deletePop">
      <div class="col-md-12">
	<div class="panel panel-info">
	  <div class="panel-heading centered"><h3>Are you sure?</h3></div>
	  <div class="panel-footer">
	    <div class="row">
	      <div class="col-md-6">
		<button class="btn btn-danger popup-btn" ng-click="deleteEvent()">Yes</button>
	      </div>
	      <div class="col-md-6">
		<button class="btn btn-cancel popup-btn" ng-click="cancel()">Cancel</button>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>    
    <div class="logOut-popup invoice" ng-show="showInvoiceFields">
      <div class="col-md-12">
	<div class="panel panel-info">
	  <div class="panel-heading centered"><h3>Create an Invoice</h3></div>
	  <div class="panel-body">
	    <form name="makeInvoiceForm">
	      <div class="row">
		<div class="col-md-6">
		  <label for="invoiceClient">Client: <span class="red">*</span></label>
    		  <select id="invoiceClient" class="form-control small-bottom-bump" ng-model="newInvoice.client" required>
    		    <option value="" selected>All Clients</option>
    		    <option ng-repeat="client in clients" value="{{client}}">{{client}}</option>
    		  </select>
		</div>
		<div class="col-md-6">
		  <label for="invoiceProject">Project: <span class="red">*</span></label>
		  <select id="invoiceProject" class="form-control small-bottom-bump" ng-model="newInvoice.project" required>
		    <option value="" selected>All Projects</option>
		    <option ng-repeat="project in projects" value="{{project}}">{{project}}</option>
		  </select>
		</div>
	      </div>
	      <hr>
	      <div class="row">
		<div class="col-md-6">
		  <label for="invoiceStartDay">Start Day <span class="red">*</span></label>		  
		  <input type="text" class="form-control small-bottom-bump" placeholder="mm/dd/yy" ng-model="newInvoice.startDate">		 		  
		</div>
		<div class="col-md-6">
		  <label for="invoiceEndDay">End Day <span class="red">*</span></label>		  
		  <input type="text" class="form-control small-bottom-bump" placeholder="mm/dd/yy" ng-model="newInvoice.endDate">		  		  
		</div>
	      </div>
	    </form>
	  </div>
	  <div class="panel-footer">
	    <div class="row">		  
	      <div class="col-md-6">
		<button class="btn btn-info popup-btn" ng-click="submitNewInvoice()">Create</button>
	      </div>
	      <div class="col-md-6">
		<button class="btn btn-cancel popup-btn" ng-click="cancel()">Cancel</button>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
</div>
